{# Create a BGP router configuration using YAML document created in YAML exercise #8: #}
{# Create common device configuration as in exercise #}
{# Create BGP configuration as in exercise #}
{# Create interfaces configuration #}

{%- for router in bgp_routers %}
hostname {{router.hostname}}
!
interface loopback 0
 ip address {{router.loopback}} 255.255.255.255
!
router bgp 64000
 neighbor {{router.bgp_neighbors.ip}} remote-as {{router.bgp_neighbors.asn}}
 neighbor {{router.bgp_neighbors.ip}} description {{router.bgp_neighbors.name}}
!
interface {{router.interface.name}}
  ip address {{router.interface.ip}}

{% if router.banner is defined %}
banner motd #
{{router.banner}}#
{% endif %}
{% endfor %}


