{# Create BGP neighbor configuration as above using data from YAML exercise #7, #}
{# adding prefix lists where necessary: #}

router bgp 64000
{%- for neighbor in bgp_neighbors %}
{% if 'absent' in neighbor.state %}
 no neighbor {{neighbor.ip_address}}
{% else %} 
 neighbor {{neighbor.ip_address}} remote-as {{neighbor.asn}}
 neighbor {{neighbor.ip_address}} description {{neighbor.description}}
{% if neighbor.policy %}
 neighbor {{neighbor.ip_address}} route-map {{neighbor.policy}} in
{% endif %}
{% if neighbor.prefixes %}
 neighbor {{neighbor.ip_address}} prefix-list bgp-neighbor-{{neighbor.ip_address}} in
{%- endif %}
{% endif %}
{% if 'down' in neighbor.state %}
 neighbor {{neighbor.ip_address}} shutdown
{% endif %}
{% endfor %}

{% set count = 0 %}
{% for neighbor in bgp_neighbors %}
{% if neighbor.prefixes %}
{% for prefix in neighbor.prefixes %}
{% set count = count + 10 %}
ip prefix-list bgp-neighbor-{{neighbor.ip_address}} seq {{count}} permit {{prefix}} 
{% endfor %}
{% endif %}
{% endfor %}

