{# Create the router configuration for node E1 specified in the node attribute: #}

{% macro router(node, side) %}
 {% if interface.left == router.name %}
 interface {{node.left_port}}
  ip address {{node.left_ip}}
 {% elif interface.right == router.name %}
 interface {{node.right_port}}
  ip address {{node.right_ip}}
 {% endif %}
{% endmacro %}

{% for router in nodes %}
{% if node == router.name %}

hostname {{node}}
!
interface loopback 0
 ip address {{router.rid}} 255.255.255.255
!
interface GigabitEthernet0/0
 ip address {{router.mgmt}} {{router.mask|default('255.255.255.0')}}
!
{% for interface in fabric %}
{% if interface.left == router.name %}
interface {{interface.left_port}}
 ip address {{interface.left_ip}} 255.255.255.252 
 no shutdown
 ip ospf 1 area 0
{% elif interface.right == router.name %}
interface {{interface.right_port}}
 ip address {{interface.right_ip}} 255.255.255.252
 no shutdown
 ip ospf 1 area 0

{% endif %}
{% endfor %}

router ospf 1
 router-id {{router.rid}}

{% endif %}
{% endfor %}
