{# Using the list of BGP neighbors created in YAML exercise #6 #}
{# create Cisco IOS BGP router configuration #}

router bgp 64000
{%- for neighbor in bgp_neighbors %}
{% if 'absent' in neighbor.state %}
 no neighbor {{neighbor.ip_address}}
{% else %} 
 neighbor {{neighbor.ip_address}} remote-as {{neighbor.asn}}
 neighbor {{neighbor.ip_address}} description {{neighbor.description}}
{% if neighbor.policy %}
 neighbor {{neighbor.ip_address}} route-map {{neighbor.policy}} in
{%- endif %}
{% endif %}
{% if 'down' in neighbor.state %}
 neighbor {{neighbor.ip_address}} shutdown
{% endif %}
{% endfor %}

