{# Using a list of username/password pairs created in YAML exercise #4 #}
{# create a local user database for a Cisco IOS router: #}

{% for user in users %}
username {{user.username}} password {{user.password}}
{% endfor %}
